body{
    margin: 0;
    padding: 0;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.headingStyle {
    background-color: #556EFF;
    color: white;
    text-align: center;
    padding: 15px 25px;
    border-radius: 5px;
}
.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.card {
    background-color: #A459FF;
    box-shadow: 2px 2px 4px gray;
    padding: 25px 25px 50px;
    width: 400px;
    border-radius: 5px;
    text-align: center;
    color: #000;
}
.cardTitle {
    padding: 10px;
    margin: 0;
    color: #fff;
    font-weight: 700;
}
.cardDesc {
    margin: 0;
    padding: 10px 0 40px;
}
.cardBtn {
    text-decoration: none;
    padding: 15px 25px;
    background-color: #556EFF;
    border-radius: 5px;
    color: white;
}