body {
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headingStyle {
    background-color: #556EFF;
    color: white;
    text-align: center;
    padding: 15px 25px;
    border-radius: 5px;
}

.cardWrapper {
    margin: 25px 0;
}

.card {
    background-color: #A459FF !important;
    box-shadow: 2px 2px 4px gray;
    padding: 25px 25px 50px;
    width: 400px;
    border-radius: 5px;
    text-align: center;
    color: #000;
}

.cardTitle {
    padding: 10px;
    margin: 0;
    color: #fff;
    font-weight: 700;
}

.cardDesc {
    margin: 0;
    padding: 10px 0 40px;
}

.cardBtn {
    text-decoration: none;
    padding: 15px 25px;
    background-color: #556EFF;
    border-radius: 5px;
    color: white;
}

button.count_btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: limegreen;
    color: white;
    margin-right: 10px;
    font-weight: 700;
    width: 80px;
}

.formGroup {
    margin-bottom: 10px;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    margin: 1rem;
    padding: 1rem;
    border-radius: .6rem;
    width: 50%;
}

.todo h3 {
    color: #fff;
}

.todo p {
    color: #fff;
    margin-bottom: 0;
}

.home h1 {
    margin: 1rem;
}

.form {
    width: 50%;
    background-color: #333;
    color: #fff;
    margin: 1rem;
    padding: 1rem;
    border-radius: .6rem;
}

.form-field {
    display: flex;
    margin: 1rem 0;
}

.form-field label {
    flex-basis: 20%;
}

.form-field input {
    flex-basis: 80%;
    border: none;
    border-radius: .6rem;
    padding: .2rem;
}

input:focus {
    outline: none;
}


.form-field textarea {
    flex-basis: 80%;
    resize: none;
    border: none;
    border-radius: .6rem;
    padding: .2rem;
}

.form button {
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 50%;
}

.form button:hover {
    background-color: orange;
    color: #fff;
}

.btn {
    border: none;
    color: #ff0000 !important;
    background-color: transparent;
    cursor: pointer;
}

*
/* FAQ: css */

.faq-container {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 232, 232);
    padding: 1rem;
}

.faqs {
    width: 50rem;
    max-width: 100%;
    background-color: white;
    border-radius: 0.6rem;
    padding: 1rem;
}

.faqs h1 {
    text-align: center;
}

.faq {
    margin: 1rem;
    background-color: rgb(229, 231, 233);
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem #2c2c2c;
}

.faq div {
    display: flex;
    justify-content: space-between;
}

.faq p {
    transition: 1s ease-in-out;
}

.text-center {
    text-align: center;
    padding-top: 25px;
}
.heading {
    display: inline-block;
    text-align: center;
    background-color: #556EFF;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
}